@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/roboto');
.nav {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    padding-right: 20%;
}
.nav a{
    text-decoration: none;
    color: #01b29b;
}
header img{
    padding-left: 10%;
    padding-top: 2%;
}
.logo{
    text-align: center;
    margin-top: auto;
    font-size: 40px;
    color: #01b29b;
}
.p2{
    padding-left: 20%;
}
.p4{
    padding-right: 20%;
}
.paragraph{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #747474;
    width: 100%;
    font-size: 16px;
}
.for1{
    background-color: #01b29b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 2em 1em 0;
}
.for2{
    background-color: #3d83df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 2em 1em 0;
}
.for3{
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 2em 1em 0;
}
#About,
#Career:hover,
#Department:hover {
  color: #00b39b;
  text-decoration: none;
}
#Career,
#Department {
  color: #ababab;
}
.forsection{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5em;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 300;
    color: #fff !important;
    line-height: 1;
    margin: 3rem auto 2rem;
    font-family: 'Work Sans', Arial, sans-serif;
    max-width: 1015px;
    /*position: relative;*/
    
}
.forsection img{
    width: 50px;
    height: auto;

}
.for1 select{
    background-color: #00ccb1;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    color: #fff !important;
}
.for2 select{
    background-color: #3d83df;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: bold;
    color: #fff !important;
}
.for3 select{
    background-color: #1b2734;
    border: none;
    color: white !important;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: bold;
}
#main1{
    
}
#for1title, 
#for2title, 
#for3title{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0 3em 0;
    font-family:'Work Sans', Arial, sans-serif;
    text-align: justify;
}
.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section-3 div{
    width: 80%;
    display: flex;
}
#section-3-title{
     font-size: 1.625em;
     margin: 0.25em 0 0.35em;
     padding-right: 1em;
     color: #00b39b;
     font-family:'Work Sans', Arial, sans-serif;
     font-weight: 300;
     letter-spacing: -0.3px;
}
#section-3-logos img{
    object-fit: contain;
    width: 5rem;
}
#section-3-logos{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}
.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    padding-left: 50px;
    padding-bottom: 0px;
    background-color: #d0faf4;
}
.section-4-header{
    font-family: 'Work Sans', Arial, sans-serif;
    padding-top: 60px;
}
.section-4-header h2{
    font-weight: 300;
    color: #00b39b;
    letter-spacing: -0.3px;
    padding-left: 50px;
}
.section-4-header p{
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
}
.first-2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}
.second-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.section-4-4-parts{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 50px;
    height: 100%;
}
.section-4-4-parts h3{
    letter-spacing: -0.3px;
    color: #00b39b;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 300;
}
.section-4-4-parts p{
    font-size: 0.8em;
    font-weight: 400;
    color: #747474;
    font-family: 'Roboto', sans-serif;
}
#leader{
    margin-bottom: 20px;
}
#appointments{
    margin-bottom: 20px;
}
#leader, 
#patients,
#appointments,
#doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 5px;
}
#leader img, 
#patients img, 
#appointments img, 
#doctors img{
    width: 25px;
    height: auto;
}
.section-4-4-parts div{
    width: 250px;
    height: 500px;
}
.section-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
   /* background-color: #3d83df;*/
}
.section-5 h3{
    text-align: center;
    font-size: 2.14em;
    color: #00b39b;
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.section-5 p{
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    margin: 1px;
    line-height: 1.7;
    color: #747474;
}
.section-6 div{
    border-radius: 2%;
    margin: 0.5%;
}
.section-6 p{
    font-size: medium;
    font-family: 'Roboto', Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    color: #747474;
}
.section-6 button{
    margin-top: 0.8cm;
    display: flex;
    justify-content: center;
    gap: 2cm;
    background: #3d83df;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    font-family:'Roboto', Arial, sans-serif;
   /* border: #00b39b;*/
}
.country{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 150px 150px 100px;
}
div .buttons{
    justify-content: space-between;
    display: flex;
}
.country div:hover{
    background-color: aliceblue;
}
.section-7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-7 button{
    text-align: center;
    background-color: #3d83df;
    color: #fff;
    padding: 12px 14px 12px 14px;
    margin-left: 150px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    font-weight: 800;
    border: #fff;
    padding-right: 10px;
    border-radius: 4px;
}
.section-7 h1{
    font-size: 2.2em;
    font-family: 'Work Sans', Arial, sans-serif;
    color: #333;
    text-align: center;
    letter-spacing: -0.4px;
    font-weight: 300;
}
footer{
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0px 100px 0px 100px;
    margin-top: 100px;
    font-size: 13px;
    color: #ababab;
}
footer p{
    padding-top: 25px;
}